{% extends 'base.html' %}
{% load static %}
{% block body_block %}

    <section class="home-slider owl-carousel">

        <div class="slider-item" style="background-image: url({% static 'img/bg_1.jpg' %});"
             data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text justify-content-center align-items-center">

                    <div class="col-md-7 col-sm-12 text-center ftco-animate">
                        <h1 class="mb-3 mt-5 bread">Our Menu</h1>
                        <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'index' %}">Home</a></span> <span>Menu</span>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="ftco-intro">
        <div class="container-wrap">
            <div class="wrap d-md-flex align-items-xl-end">
                <div class="info">
                    {% for x in details %}
                        <div class="row no-gutters">
                            <div class="col-md-4 d-flex ftco-animate">
                                <div class="icon"><span class="icon-phone"></span></div>
                                <div class="text">
                                    <h3>{{ x.phone_number }}</h3>
                                    <p>A small river named Duden flows by their place and supplies.</p>
                                </div>
                            </div>
                            <div class="col-md-4 d-flex ftco-animate">
                                <div class="icon"><span class="icon-my_location"></span></div>
                                <div class="text">
                                    <h3>{{ x.address }}</h3>
                                    <p> {{ x.address_details }}</p>
                                </div>
                            </div>
                            <div class="col-md-4 d-flex ftco-animate">
                                <div class="icon"><span class="icon-clock-o"></span></div>
                                <div class="text">
                                    <h3>{{ x.opening_date }}</h3>
                                    <p>{{ x.opening_hours }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="book p-4">
                    <h3>Book a Table</h3>

                    {#                    1st form #}
                    <form action="#" class="appointment-form" method="POST">
                        {% csrf_token %}
                        <div class="d-md-flex">
                            <div class="form-group">
                                <input type="hidden" name="1st_form">
                                <input type="text" name="f_name" class="form-control" placeholder="First Name">
                            </div>
                            <div class="form-group ml-md-4">
                                <input type="text" name="l_name" class="form-control" placeholder="Last Name">
                            </div>
                        </div>
                        <div class="d-md-flex">
                            <div class="form-group">
                                <div class="input-wrap">
                                    <div class="icon"><span class="ion-md-calendar"></span></div>
                                    <input name="text_date" type="text" class="form-control appointment_date"
                                           placeholder="Date">
                                </div>
                            </div>
                            <div class="form-group ml-md-4">
                                <div class="input-wrap">
                                    <div class="icon"><span class="ion-ios-clock"></span></div>
                                    <input type="text" name="t_time" class="form-control appointment_time"
                                           placeholder="Time">
                                </div>
                            </div>
                            <div class="form-group ml-md-4">
                                <input type="text" name="phone_text" class="form-control" placeholder="Phone">
                            </div>
                        </div>
                        <div class="d-md-flex">
                            <div class="form-group">
                                <textarea name="booking_message" id="" cols="30" rows="2" class="form-control"
                                          placeholder="Message"></textarea>
                            </div>
                            <div class="form-group ml-md-4">
                                <input type="submit" value="Appointment" class="btn btn-dark py-3 px-4">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section" style="background-image: url({% static 'img/bg_4.jpg' %})">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mb-5 pb-3">
                    <h3 class="mb-5 heading-pricing ftco-animate">Starter</h3>
                    {% for x in starter %}
                        <div class="pricing-entry d-flex ftco-animate">
{#                            <div class="img"#}
{#                                 style="background-image: url({% static '/media/media/{{ x.starter_dish_image.url }}' %});"></div>#}

                            <div class="img"
                                 style="background-image: url({{ x.starter_dish_image.url }});"></div>

                            <div class="desc pl-3">
                                <div class="d-flex text align-items-center">
                                    <h3><span>{{ x.starter_name }}</span></h3>
                                    <span class="price">${{ x.starter_price }}</span>
                                </div>
                                <div class="d-block">
                                    <p>{{ x.starter_descripion }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>


                <div class="col-md-6 mb-5 pb-3">
                    <h3 class="mb-5 heading-pricing ftco-animate">Main Dish</h3>
                    {% for x in maindish %}
                        <div class="pricing-entry d-flex ftco-animate">
                            <div class="img" style=" background-image: url({{ x.main_dish_image.url }});"></div>
                            <div class="desc pl-3">
                                <div class="d-flex text align-items-center">
                                    <h3><span>{{ x.main_dish_name }}</span></h3>
                                    <span class="price">${{ x.main_dish_price }}</span>
                                </div>
                                <div class="d-block">
                                    <p>{{ x.main_dish_description }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <h3 class="mb-5 heading-pricing ftco-animate">Desserts</h3>
                    {% for x in dessert %}
                        <div class="pricing-entry d-flex ftco-animate">
                            <div class="img" style="background-image:url({{ x.dessert_image.url }});"></div>
                            <div class="desc pl-3">
                                <div class="d-flex text align-items-center">
                                    <h3><span>{{ x.dessert_name }}</span></h3>
                                    <span class="price">${{ x.dessert_price }}</span>
                                </div>
                                <div class="d-block">
                                    <p>{{ x.dessert_descripion }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="col-md-6">
                    <h3 class="mb-5 heading-pricing ftco-animate">Drinks</h3>
                    {% for x in drinks %}
                        <div class="pricing-entry d-flex ftco-animate">
                            <div class="img" style="background-image: url({{ x.drinks_image.url }});"></div>
                            <div class="desc pl-3">
                                <div class="d-flex text align-items-center">
                                    <h3><span>{{ x.drinks_name }}</span></h3>
                                    <span class="price">${{ x.drinks_price }}</span>
                                </div>
                                <div class="d-block">
                                    <p>{{ x.drinks_descrtipion }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>


            <div class="ftco-menu mb-5 pb-5">
                <div class="container">
                    <div class="row justify-content-center mb-5">
                        <div class="col-md-7 heading-section text-center ftco-animate">
                            <span class="subheading">Discover</span>
                            <h2 class="mb-4">Our Products</h2>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and
                                Consonantia,
                                there live the blind texts.</p>
                        </div>
                    </div>
                    <div class="row d-md-flex">
                        <div class="col-lg-12 ftco-animate p-md-5">
                            <div class="row">

                                <div class="col-md-12 nav-link-wrap mb-5">
                                    <div class="nav ftco-animate nav-pills justify-content-center" id="v-pills-tab"
                                         role="tablist" aria-orientation="vertical">
                                        <a class="nav-link active" id="v-pills-1-tab" data-toggle="pill"
                                           href="#v-pills-1"
                                           role="tab" aria-controls="v-pills-1" aria-selected="true">Main Dish</a>

                                        <a class="nav-link" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2"
                                           role="tab" aria-controls="v-pills-2" aria-selected="false">Drinks</a>

                                        <a class="nav-link" id="v-pills-3-tab" data-toggle="pill" href="#v-pills-3"
                                           role="tab" aria-controls="v-pills-3" aria-selected="false">Desserts</a>
                                    </div>
                                </div>
                                <div class="col-md-12 d-flex align-items-center">

                                    <div class="tab-content ftco-animate" id="v-pills-tabContent">

                                        <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel"
                                             aria-labelledby="v-pills-1-tab">
                                            <div class="row">
                                                {% for x in maindish %}
                                                    <div class="col-md-4 text-center">
                                                        <div class="menu-wrap">
                                                            <a href="#" class="menu-img img mb-4"
                                                               style="background-image: url({{ x.main_dish_image.url }})"></a>
                                                            <div class="text">
                                                                <h3><a href="#">{{ x.main_dish_name }}</a></h3>
                                                                <p>{{ x.main_dish_description }}</p>
                                                                <p class="price"><span>${{ x.main_dish_price }}</span>
                                                                </p>
                                                                <p><a href="#"
                                                                      class="btn btn-primary btn-outline-primary" value1="test" id="add_to_cart">Add
                                                                    to cart</a></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}

                                                <script>
                                                    document.getElementById("#add_to_cart").addEventListener('click', (event) => {
                                                        console.log("test");
                                                    })
                                                </script>

                                            </div>
                                        </div>

                                        <div class="tab-pane fade" id="v-pills-2" role="tabpanel"
                                             aria-labelledby="v-pills-2-tab">
                                            <div class="row">
                                                {% for x in drinks %}
                                                    <div class="col-md-4 text-center">
                                                        <div class="menu-wrap">
                                                            <a href="#" class="menu-img img mb-4"
                                                               style="background-image: url({{ x.drinks_image.url }})"></a>
                                                            <div class="text">
                                                                <h3><a href="#">{{ x.drinks_name }}</a></h3>
                                                                <p>{{ x.drinks_description }}</p>
                                                                <p class="price"><span>${{ x.drinks_price }}</span></p>
                                                                <p><a href="#"
                                                                      class="btn btn-primary btn-outline-primary">Add
                                                                    to cart</a></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>

                                        <div class="tab-pane fade" id="v-pills-3" role="tabpanel"
                                             aria-labelledby="v-pills-3-tab">
                                            <div class="row">
                                                {% for x in dessert %}
                                                    <div class="col-md-4 text-center">
                                                        <div class="menu-wrap">
                                                            <a href="#" class="menu-img img mb-4"
                                                               style="background-image: url({{ x.dessert_image.url }})"></a>
                                                            <div class=" text">
                                                                <h3><a href="#">{{ x.dessert_name }}</a></h3>
                                                                <p>{{ x.dessert_descrtipion }}</p>
                                                                <p class="price"><span>${{ x.dessert_price }}</span>
                                                                </p>
                                                                <p><a href="#"
                                                                      class="btn btn-primary btn-outline-primary">Add
                                                                    to cart</a></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="ftco-footer ftco-section img">
        <div class="overlay"></div>
        <div class="container">
            <div class="row mb-5">
                <div class="col-lg-3 col-md-6 mb-5 mb-md-5">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">About Us</h2>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                            there live the blind texts.</p>
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                            <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-5 mb-md-5">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Recent Blog</h2>
                        <div class="block-21 mb-4 d-flex">
                            <a class="blog-img mr-4" style="background-image:url({% static 'img/image_1.jpg' %})"></a>
                            <div class="text">
                                <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about</a>
                                </h3>
                                <div class="meta">
                                    <div><a href="#"><span class="icon-calendar"></span> Sept 15, 2018</a></div>
                                    <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                                    <div><a href="{% url 'comment' %}"><span class="icon-chat"></span> 19</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="block-21 mb-4 d-flex">
                            <a class="blog-img mr-4" style="background-image: url({% static 'img/image_2.jpg' %})"></a>
                            <div class="text">
                                <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about</a>
                                </h3>
                                <div class="meta">
                                    <div><a href="{% url 'comment' %}"><span class="icon-calendar"></span> Sept 15, 2018</a>
                                    </div>
                                    <div><a href="{% url 'comment' %}"><span class="icon-person"></span> Admin</a></div>
                                    <div><a href="{% url 'comment' %}"><span class="icon-chat"></span> 19</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 mb-5 mb-md-5">
                    <div class="ftco-footer-widget mb-4 ml-md-4">
                        <h2 class="ftco-heading-2">Services</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-2 d-block">Cooked</a></li>
                            <li><a href="#" class="py-2 d-block">Deliver</a></li>
                            <li><a href="#" class="py-2 d-block">Quality Foods</a></li>
                            <li><a href="#" class="py-2 d-block">Mixed</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5 mb-md-5">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Have a Questions?</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li><span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span>
                                </li>
                                <li><a href="#"><span class="icon icon-phone"></span><span
                                        class="text">+2 392 3929 210</span></a></li>
                                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@yourdomain.com</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">

                    <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                        All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i>
                        by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                </div>
            </div>
        </div>
    </footer>



    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen">
        <svg class="circular" width="48px" height="48px">
            <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
            <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
                    stroke="#F96D00"/>
        </svg>
    </div>


{% endblock %}