<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet"
      xmlns="http://www.w3.org/1999/html">

<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">

{% extends 'base.html' %}
{% load static %}
{% block body_block %}

    <section class="home-slider owl-carousel">

      <div class="slider-item" style="background-image: url({% static 'img/bg_3.jpg' %});" data-stellar-background-ratio="0.5">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row slider-text justify-content-center align-items-center">

            <div class="col-md-7 col-sm-12 text-center ftco-animate">
            	<h1 class="mb-3 mt-5 bread">Product Detail</h1>
	            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Product Detail</span></p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section bg-dark" style="background-image: url({% static 'img/bg_4.jpg' %});">
    	<div class="container">
            {% for x in product_detail %}
            <div class="row">
    			<div class="col-lg-6 mb-5 ftco-animate">
    				<a href="{{ x.Product_photo.url }}" class="image-popup"><img src="{{ x.Product_photo.url }}" class="img-fluid" alt="Colorlib Template"></a>
    			</div>
    			<div class="col-lg-6 product-details pl-md-5 ftco-animate">
    				<h3>{{ x.Product_name }}</h3>
    				<p class="price"><span>${{ x.Product_price }}</span></p>
    				<p>{{ x.Product_detail }}</p>
						<div class="row mt-4">
							<div class="col-md-6">
								<div class="form-group d-flex">
		              <div class="select-wrap">
	                  <div class="icon"><span class="ion-ios-arrow-down"></span></div>
	                  <select name="" id="" class="form-control">
	                  	<option value="">Small</option>
	                    <option value="">Medium</option>
	                    <option value="">Large</option>
	                    <option value="">Extra Large</option>
	                  </select>
	                </div>
		            </div>
							</div>
							<div class="w-100"></div>
							<div class="input-group col-md-6 d-flex mb-3">
	             	<span class="input-group-btn mr-2">
	                	<button type="button" class="quantity-left-minus btn"  data-type="minus" data-field="">
	                   <i class="icon-minus"></i>
	                	</button>
	            		</span>
	             	<input type="text" id="quantity" name="quantity" class="form-control input-number" value="1" min="1" max="100">
	             	<span class="input-group-btn ml-2">
	                	<button type="button" class="quantity-right-plus btn" data-type="plus" data-field="">
	                     <i class="icon-plus"></i>
	                 </button>
	             	</span>
	          	</div>
          	</div>
          	<p><a href="cart.html" class="btn btn-primary py-3 px-5">Add to Cart</a></p>
    			</div>
    		</div>
            {% endfor %}
    	</div>
    </section>

     <section class="ftco-menu bg-dark pb-5" style="background-image: url({% static 'img/bg_4.jpg' %});">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-md-7 heading-section text-center ftco-animate">
                    <span class="subheading">Discover</span>
                    <h2 class="mb-4">Our Products</h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and
                        Consonantia,
                        there live the blind texts.</p>
                </div>
            </div>
            <div class="row d-md-flex">
                <div class="col-lg-12 ftco-animate p-md-5">
                    <div class="row">

                        <div class="col-md-12 nav-link-wrap mb-5">
                            <div class="nav ftco-animate nav-pills justify-content-center" id="v-pills-tab"
                                 role="tablist" aria-orientation="vertical">
                                <a class="nav-link active" id="v-pills-1-tab" data-toggle="pill"
                                   href="#v-pills-1"
                                   role="tab" aria-controls="v-pills-1" aria-selected="true">Main Dish</a>

                                <a class="nav-link" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2"
                                   role="tab" aria-controls="v-pills-2" aria-selected="false">Drinks</a>

                                <a class="nav-link" id="v-pills-3-tab" data-toggle="pill" href="#v-pills-3"
                                   role="tab" aria-controls="v-pills-3" aria-selected="false">Desserts</a>
                            </div>
                        </div>
                        <div class="col-md-12 d-flex align-items-center">

                            <div class="tab-content ftco-animate" id="v-pills-tabContent">

                                <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel"
                                     aria-labelledby="v-pills-1-tab">
                                    <div class="row">
                                        {% for x in maindish %}
                                            <div class="col-md-4 text-center">
                                                <div class="menu-wrap">
                                                    <a href="#" class="menu-img img mb-4"
                                                       style="background-image: url({{ x.main_dish_image.url }})"></a>
                                                    <div class="text">
                                                        <h3><a href="#">{{ x.main_dish_name }}</a></h3>
                                                        <p>{{ x.main_dish_description }}</p>
                                                        <p class="price"><span>${{ x.main_dish_price }}</span>
                                                        </p>
                                                        <p type="submit"
                                                           class="btn btn-primary btn-outline-primary">Add
                                                            to cart</p>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="v-pills-2" role="tabpanel"
                                     aria-labelledby="v-pills-2-tab">
                                    <div class="row">
                                        {% for x in drinks %}
                                            <div class="col-md-4 text-center">
                                                <div class="menu-wrap">
                                                    <a href="#" class="menu-img img mb-4"
                                                       style="background-image: url({{ x.drinks_image.url }})"></a>
                                                    <div class="text">
                                                        <h3><a href="#">{{ x.drinks_name }}</a></h3>
                                                        <p>{{ x.drinks_description }}</p>
                                                        <p class="price"><span>${{ x.drinks_price }}</span></p>
                                                        <p class="btn btn-primary btn-outline-primary">Add
                                                            to cart</p>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="v-pills-3" role="tabpanel"
                                     aria-labelledby="v-pills-3-tab">
                                    <div class="row">
                                        {% for x in dessert %}
                                            <div class="col-md-4 text-center">
                                                <div class="menu-wrap">
                                                    <a href="#" class="menu-img img mb-4"
                                                       style="background-image: url({{ x.dessert_image.url }})"></a>
                                                    <div class=" text">
                                                        <h3><a href="#">{{ x.dessert_name }}</a></h3>
                                                        <p>{{ x.dessert_descrtipion }}</p>
                                                        <p class="price"><span>${{ x.dessert_price }}</span>
                                                        </p>
                                                        <p
                                                                class="btn btn-primary btn-outline-primary">Add
                                                            to cart </p>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

  <footer class="ftco-footer ftco-section img">
        <div class="overlay"></div>
        <div class="container">
            <div class="row mb-5">
                <div class="col-lg-3 col-md-6 mb-5 mb-md-5">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">About Us</h2>
                        <div class="row">
                            {% for x in about_us %}
                                <p>{{ x.about }}</p>
                            {% endfor %}


                        </div>

                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                            <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-5 mb-md-5">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Recent Blog</h2>
                        <div class="block-21 mb-4 d-flex">
                            <a class="blog-img mr-4" style="background-image: url({% static 'img/image_1.jpg' %});"></a>
                            <div class="text">
                                <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about</a>
                                </h3>
                                <div class="meta">
                                    <div><a href="#"><span class="icon-calendar"></span> Sept 15, 2018</a></div>
                                    <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                                    <div><a href="{% url 'comment' %}"><span class="icon-chat"></span> 19</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="block-21 mb-4 d-flex">
                            <a class="blog-img mr-4" style="background-image: url({% static 'img/image_2.jpg' %});"></a>
                            <div class="text">
                                <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about</a>
                                </h3>
                                <div class="meta">
                                    <div><a href="#"><span class="icon-calendar"></span> Sept 15, 2018</a></div>
                                    <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                                    <div><a href="{% url 'comment' %}"><span class="icon-chat"></span> 19</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 mb-5 mb-md-5">
                    <div class="ftco-footer-widget mb-4 ml-md-4">
                        <h2 class="ftco-heading-2">Services</h2>
                        {% for x in our_services %}
                            <ul class="list-unstyled">
                                <li><a href="#" class="py-2 d-block">{{ x.service }}</a></li>

                            </ul>
                        {% endfor %}
                    </div>
                </div>

                {% for z in details %}
                    <div class="col-lg-3 col-md-6 mb-5 mb-md-5">
                        <div class="ftco-footer-widget mb-4">
                            <h2 class="ftco-heading-2">Have a Questions?</h2>
                            <div class="block-23 mb-3">
                                <ul>
                                    <li><span class="icon icon-map-marker"></span><span
                                            class="text">{{ z.address_details }}</span>
                                    </li>
                                    <li><a href="#"><span class="icon icon-phone"></span><span
                                            class="text">{{ z.phone_number }}</span></a></li>
                                    <li><a href="#"><span class="icon icon-envelope"></span><span
                                            class="text">{{ z.email }}</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}


            </div>
            <div class="row">
                <div class="col-md-12 text-center">

                    <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                        All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i>
                        by <a href="https://www.linkedin.com/in/mariam-binte-mahfuz/" target="_blank">Mariam Binte
                            Mahfuz</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                </div>
            </div>
        </div>
    </footer>

    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen">
        <svg class="circular" width="48px" height="48px">
            <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
            <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
                    stroke="#F96D00"/>
        </svg>
    </div>
{% endblock %}